/*!
 * Marp Slide Template
 * Version: 1.0
 *
 * @theme base
 * @author Jacob Stauffer
 *
 * @auto-scaling true
 * @size 4k false
 * @size HD 1920px 1080px
 * @size 16:9 1280px 720px
 * @size 4:3 false
 */
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   margin: 0.5em 0 0;
 }
 h1 strong,
 h2 strong,
 h3 strong,
 h4 strong,
 h5 strong,
 h6 strong {
   font-weight: inherit;
 }
 h1::part(auto-scaling),
 h2::part(auto-scaling),
 h3::part(auto-scaling),
 h4::part(auto-scaling),
 h5::part(auto-scaling),
 h6::part(auto-scaling) {
   max-height: 580px;
 }
 
 h1 {
   font-size: 1.75em;
 }
 
 h2 {
   font-size: 1.5em;
 }
 
 h3 {
   font-size: 1.25em;
 }
 
 h4 {
   font-size: 1em;
 }
 
 h5 {
   font-size: 0.75em;
 }
 
 h6 {
   font-size: 0.5em;
 }
 
 p,
 blockquote {
   margin: 1em 0 0;
 }
 
 ul > li,
 ol > li {
   margin: 0.5em 0 0;
 }
 ul > li > p,
 ol > li > p {
   margin: 0.6em 0 0;
 }
 
 code {
   display: inline-block;
   font-family: "Roboto Mono", monospace;
   font-size: 0.75em;
   letter-spacing: 0;
   margin: -0.1em 0.15em;
   padding: 0.1em 0.2em;
   vertical-align: baseline;
   border-radius: 8px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 
 pre {
   display: block;
   margin: 1em 0 0;
   overflow: visible;
 }
 pre code {
   box-sizing: border-box;
   margin: 0;
   min-width: 100%;
   padding: 0.5em;
   font-size: 0.7em;
 }
 pre::part(auto-scaling) {
   max-height: calc(580px - 1em);
 }
 
 blockquote {
   font-size: 0.75em;
   margin: 1em 0 0;
   padding: 0.5em 1em;
   position: relative;
   background: #ffffff;
   border-left: 0.4em solid #3d6baa;
   border-radius: 8px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 blockquote::after, blockquote::before {
   display: block;
   position: absolute;
 }
 blockquote::before {
   top: 0;
   left: 0;
 }
 blockquote::after {
   right: 0;
   bottom: 0;
   transform: rotate(180deg);
 }
 blockquote > *:first-child {
   margin-top: 0;
 }
 
 mark {
   background: transparent;
 }
 
 table {
   border-spacing: 0;
   border-collapse: collapse;
   margin: 1em 0 0;
 }
 table th,
 table td {
   padding: 0.2em 0.4em;
   border-width: 1px;
   border-style: solid;
 }
 
 header,
 footer,
 section::after {
   box-sizing: border-box;
   font-size: 0.75em;
   line-height: 1.5;
   overflow: hidden;
   padding: 25px 25px;
   position: absolute;
   opacity: 0.33;
 }
 
 header {
   left: 0;
   right: 0;
   top: 0;
 }
 
 footer {
   right: 0;
   bottom: 0;
 }
 footer img {
   width: 100px;
   opacity: 0.33;
   box-shadow: none;
 }
 
 img[alt~=center] {
   display: block;
   margin: 0 auto;
 }
 
 section {
   align-items: stretch;
   display: flex;
   flex-flow: column nowrap;
   padding: 35px;
   color: #455a64;
   background-size: contain;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
   font-size: 18pt;
   line-height: 1.35;
   letter-spacing: 1.25px;
   word-wrap: break-word;
 }
 section code {
   color: #3d6baa;
   background: #ffffff;
 }
 section header,
 section footer,
 section section::after,
 section blockquote::before,
 section blockquote::after {
   color: #3d6baa;
 }
 section img[alt~=transparent] {
   border-radius: 0px !important;
   box-shadow: none !important;
 }
 section img {
   border-radius: 8px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 section img:where(.emoji) {
   border-radius: 0px !important;
   box-shadow: none !important;
 }
 section table {
   font-size: smaller;
 }
 section table th,
 section table td {
   border-color: #455a64;
 }
 section table thead th {
   background: #3d6baa;
   color: #e3f2fd;
 }
 section table tr {
   background: #ffffff;
 }
 section table tr:nth-child(even) {
   background-color: #e6e6e6;
 }
 section > *:first-child,
 section > header:first-child + * {
   margin-top: 0;
 }
 section::after {
   right: 0;
   top: 0;
   font-size: 80%;
 }
 section:where(.title) {
   background-size: cover;
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
 }
 section:where(.title) h1 {
   font-size: 1.75em;
 }
 section:where(.title) h1,
 section:where(.title) h2,
 section:where(.title) h3,
 section:where(.title) h4,
 section:where(.title) h5,
 section:where(.title) h6 {
   text-align: center;
   color: #e3f2fd;
   text-shadow: 4px 4px black;
   text-transform: uppercase;
 }
 section:where(.title) p {
   text-align: center;
   color: #455a64;
 }
 section:where(.section) {
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   color: #e3f2fd;
 }
 section:where(.section) h1,
 section:where(.section) h2,
 section:where(.section) h3,
 section:where(.section) h4,
 section:where(.section) h5,
 section:where(.section) h6 {
   text-align: left;
   text-shadow: 4px 4px black;
   text-transform: uppercase;
   padding-top: 4em;
 }
 section:where(.section) p {
   margin: 0px;
   text-align: left;
   color: #455a64;
 }
 section:where(.split):not([data-marpit-advanced-background]) {
   overflow: visible;
   display: grid;
   grid-template-rows: 60px auto;
   grid-template-columns: repeat(2, 1fr);
   grid-template-areas: "heading heading" "columnleft columnright";
 }
 section:where(.split):not([data-marpit-advanced-background]) h1 {
   grid-area: heading;
   font-size: 1.75em;
 }
 section:where(.split) p > img {
   max-width: 100%;
 }
 
 /*
 
 Atom One Dark by Daniel Gamage
 Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax
 
 base:    #282c34
 mono-1:  #abb2bf
 mono-2:  #818896
 mono-3:  #5c6370
 hue-1:   #56b6c2
 hue-2:   #61aeee
 hue-3:   #c678dd
 hue-4:   #98c379
 hue-5:   #e06c75
 hue-5-2: #be5046
 hue-6:   #d19a66
 hue-6-2: #e6c07b
 
 */
 .hljs {
   color: #abb2bf;
   background: #282c34;
 }
 
 .hljs-comment,
 .hljs-quote {
   color: #5c6370;
   font-style: italic;
 }
 
 .hljs-doctag,
 .hljs-keyword,
 .hljs-formula {
   color: #c678dd;
 }
 
 .hljs-section,
 .hljs-name,
 .hljs-selector-tag,
 .hljs-deletion,
 .hljs-subst {
   color: #e06c75;
 }
 
 .hljs-literal {
   color: #56b6c2;
 }
 
 .hljs-string,
 .hljs-regexp,
 .hljs-addition,
 .hljs-attribute,
 .hljs-meta .hljs-string {
   color: #98c379;
 }
 
 .hljs-attr,
 .hljs-variable,
 .hljs-template-variable,
 .hljs-type,
 .hljs-selector-class,
 .hljs-selector-attr,
 .hljs-selector-pseudo,
 .hljs-number {
   color: #d19a66;
 }
 
 .hljs-symbol,
 .hljs-bullet,
 .hljs-link,
 .hljs-meta,
 .hljs-selector-id,
 .hljs-title {
   color: #61aeee;
 }
 
 .hljs-built_in,
 .hljs-title.class_,
 .hljs-class .hljs-title {
   color: #e6c07b;
 }
 
 .hljs-emphasis {
   font-style: italic;
 }
 
 .hljs-strong {
   font-weight: bold;
 }
 
 .hljs-link {
   text-decoration: underline;
 }/*# sourceMappingURL=base.css.map */