@use 'sass:color';

/*!
 * Marp Slide Template
 * Version: 1.0
 *
 * @theme base
 * @author Jacob Stauffer
 *
 * @auto-scaling true
 * @size 4k false
 * @size HD 1920px 1080px
 * @size 16:9 1280px 720px
 * @size 4:3 false
 */

$color-heading: #e3f2fd;
$color-footer: grey;
$color-background: #ffffff;
$color-primary: #455a64;
$color-secondary: #3d6baa;

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.5em 0 0;
    strong {
        font-weight: inherit;
    }
    &::part(auto-scaling) {
        max-height: 580px; // Slide height - padding * 2
    }
}
h1 {
    font-size: 1.75em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.25em;
}
h4 {
    font-size: 1em;
}
h5 {
    font-size: 0.75em;
}
h6 {
    font-size: 0.5em;
}
p,
blockquote {
    margin: 1em 0 0;
}
ul,
ol {
    > li {
        margin: 0.5em 0 0;
        > p {
            margin: 0.6em 0 0;
        }
    }
}
code {
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.75em;
    letter-spacing: 0;
    margin: -0.1em 0.15em;
    padding: 0.1em 0.2em;
    vertical-align: baseline;
    border-radius: 8px;
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
pre {
    display: block;
    margin: 1em 0 0;
    overflow: visible;
    code {
        box-sizing: border-box;
        margin: 0;
        min-width: 100%;
        padding: 0.5em;
        font-size: 0.7em;
    }
    &::part(auto-scaling) {
        max-height: calc(580px - 1em);
    }
}
blockquote {
    font-size: 0.75em;
    margin: 1em 0 0;
    padding: 0.5em 1em;
    position: relative;
    background: $color-background;
    border-left: 0.4em solid $color-secondary;
    border-radius: 8px;
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    &::after,
    &::before {
        display: block;
        position: absolute;
    }
    &::before {
        top: 0;
        left: 0;
    }
    &::after {
        right: 0;
        bottom: 0;
        transform: rotate(180deg);
    }
    > *:first-child {
        margin-top: 0;
    }
}
mark {
    background: transparent;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 1em 0 0;
    th,
    td {
        padding: 0.2em 0.4em;
        border-width: 1px;
        border-style: solid;
    }
}
header,
footer,
section::after {
    box-sizing: border-box;
    font-size: 0.75em;
    line-height: 1.5;
    overflow: hidden;
    padding: 25px 25px;
    position: absolute;
    opacity: 0.33;
}
header {
    left: 0;
    right: 0;
    top: 0;
}
footer {
    right: 0;
    bottom: 0;
    img {
        width: 100px;
        opacity: 0.33;
        box-shadow: none;
    }
}
// section[data-marpit-advanced-background="content"] > footer {
//     opacity: 0;
// }
img[alt~='center'] {
    display: block;
    margin: 0 auto;
}
section {
    align-items: stretch;
    display: flex;
    flex-flow: column nowrap;
    padding: 35px;
    color: $color-primary;
    background-size: contain;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    font-size: 18pt;
    line-height: 1.35;
    letter-spacing: 1.25px;
    word-wrap: break-word;
    code {
        color: $color-secondary;
        background: $color-background;
    }
    header,
    footer,
    section::after,
    blockquote::before,
    blockquote::after {
        color: $color-secondary;
    }
    img[alt~='transparent'] {
        border-radius: 0px !important;
        box-shadow: none !important;
    }
    img {
        border-radius: 8px;
        box-shadow:
            0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    img:where(.emoji) {
        border-radius: 0px !important;
        box-shadow: none !important;
    }
    table {
        font-size: smaller;
        th,
        td {
            border-color: $color-primary;
        }
        thead th {
            background: $color-secondary;
            color: $color-heading;
        }
        tr {
            background: $color-background;
        }
        tr:nth-child(even) {
            background-color: darken($color-background, 10%);
        }
    }
    > *:first-child,
    > header:first-child + * {
        margin-top: 0;
    }
    &::after {
        right: 0;
        top: 0;
        font-size: 80%;
    }
    &:where(.title) {
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        h1 {
            font-size: 1.75em;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            text-align: center;
            color: $color-heading;
            text-shadow: 4px 4px black;
            text-transform: uppercase;
        }
        p {
            text-align: center;
            color: $color-primary;
        }
    }
    &:where(.section) {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        color: $color-heading;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            text-align: left;
            text-shadow: 4px 4px black;
            text-transform: uppercase;
            padding-top: 4em;
        }
        p {
            margin: 0px;
            text-align: left;
            color: $color-primary;
        }
    }
    &:where(.split):not([data-marpit-advanced-background]) {
        overflow: visible;
        display: grid;
        grid-template-rows: 60px auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            'heading heading'
            'columnleft columnright';
        // gap: 1rem;
        h1 {
            grid-area: heading;
            font-size: 1.75em;
        }
    }
    &:where(.split) p > img {
        max-width: 100%;
    }
}

/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

$color-base:    #282c34;
$color-mono-1:  #abb2bf;
$color-mono-2:  #818896;
$color-mono-3:  #5c6370;
$color-hue-1:   #56b6c2;
$color-hue-2:   #61aeee;
$color-hue-3:   #c678dd;
$color-hue-4:   #98c379;
$color-hue-5:   #e06c75;
$color-hue-5-2: #be5046;
$color-hue-6:   #d19a66;
$color-hue-6-2: #e6c07b;

.hljs {
    color: $color-mono-1;
    background: $color-base;
}
.hljs-comment,
.hljs-quote {
    color: $color-mono-3;
    font-style: italic;
}
.hljs-doctag,
.hljs-keyword,
.hljs-formula {
    color: $color-hue-3;
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
    color: $color-hue-5;
}
.hljs-literal {
    color: $color-hue-1;
}
.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
    color: $color-hue-4;
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
    color: $color-hue-6;
}
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: $color-hue-2;
}
.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
    color: $color-hue-6-2;
}
.hljs-emphasis {
    font-style: italic;
}
.hljs-strong {
    font-weight: bold;
}
.hljs-link {
    text-decoration: underline;
}

// review this later for more ideas