/*!
 * @theme blue
 * @author Jacob Stauffer
 */

 @import 'base';

 section {
     background-image: url('../../../.vscode/marp-themes/blue/background_light.png');
 }
 section:where(.title) {
     background-image: url('../../../.vscode/marp-themes/blue/background_dark.png');
 }
 section:where(.section) {
     background-image: url('../../../.vscode/marp-themes/blue/background_dark.png');
 }
 
 /*# sourceMappingURL=base.css.map */
 